# $Id$
# pmk.conf example

# misc
OS_NAME=OpenBSD
OS_VERSION=3.3
OS_ARCH=i386

PREFIX=/usr/local
SYSCONFDIR=/etc

# binary locations
BIN_AR=/usr/bin/ar
BIN_CAT=/bin/cat
BIN_GREP=/usr/bin/grep
BIN_INSTALL=/usr/bin/install
BIN_RANLIB=/usr/bin/ranlib
BIN_MORE:/usr/bin/less

#include stuff
INC_PATH:/usr/include

# lib stuff
LIB_PATH:/usr/lib
