# $Id$
# pmkfile example

# comment
.DEFINE
version=0.0
TPATH=/windows/desktop
PROGNAME=scandisk
.END
.TARGET
LIST=samples/Makefile.sample.pmk,samples/Makefile.samplebis.pmk
.END
.CHECK_LIB(lib_gtk)
REQUIRED=TRUE
LIBNAME=gtk
VERSION=1.2
.END
.CHECK_INCLUDE(string_strlcpy)
REQUIRED=TRUE
INCLUDE=string.h
FUNCTION=strlcpy
.END
.CHECK_BINARY(gtk_config)
REQUIRED=FALSE
FILENAME=gtk-config
.END
.CHECK_CONFIG(lib_png)
REQUIRED=FALSE
CFGTOOL=libpng-config
VERSION=1.2
.END
