# $Id$
# pmkfile example

# put some defines
.DEFINE
PACKAGE=scandisk
VERSION=0.0.1b
.END

# set the target files that will be processed
.TARGET
LIST=Makefile.sample.pmk,config_sample.h.pmk,subdir/Makefile.subdir.pmk
.END

# set autoconf compatibility
.AC_COMPAT
FILENAME=samples/ac_config.h
.END

# check availability of termcap library
.CHECK_LIB(lib_termcap)
REQUIRED=FALSE
LIBNAME=termcap
.END

# check function getwin in libcurses
# this check depends of lib_termcap check for test purposes
.CHECK_LIB(lib_curses)
REQUIRED=FALSE
DEPEND=lib_termcap
LIBNAME=curses
FUNCTION=getwin
.END

# check availability of sys/param.h header
.CHECK_INCLUDE(sys_param)
REQUIRED=FALSE
INCLUDE=sys/param.h
LANG=C++
.END

# check function strlcpy in string.h
.CHECK_INCLUDE(string_strcpy)
REQUIRED=FALSE
INCLUDE=string.h
FUNCTION=strlcpy
.END

# try to found gtk-config in path
.CHECK_BINARY(gtk_config)
REQUIRED=FALSE
FILENAME=gtk-config
.END

# get data via libpng-config
.CHECK_CONFIG(lib_png)
REQUIRED=FALSE
CFGTOOL=libpng-config
VERSION=1.2
.END

# get data for gtk+ via pkg-config
.CHECK_PKG_CONFIG(gtk_data)
REQUIRED=FALSE
PACKAGE=gtk+
VERSION=1.2
CFLAGS=GTK_CFLAGS
LIBS=GTK_LIBS
.END

# check _Bool type
.CHECK_TYPE(type_bool_posix)
REQUIRED=FALSE
TYPE=_Bool
.END

# check c++ bool type
.CHECK_TYPE(type_bool_cxx)
REQUIRED=FALSE
TYPE=bool
LANG=C++
.END
