# $Id$
# pmkfile example

# comment
.DEFINE
PACKAGE=scandisk
.END
.TARGET
LIST=samples/Makefile.sample.pmk,samples/config_sample.h.pmk
.END
.CHECK_LIB(lib_termcap)
REQUIRED=FALSE
LIBNAME=termcap
.END
.CHECK_LIB(lib_curses)
REQUIRED=FALSE
DEPEND=lib_termcap
LIBNAME=curses
FUNCTION=getwin
.END
.CHECK_INCLUDE(sys_param)
REQUIRED=FALSE
INCLUDE=sys/param.h
.END
.CHECK_INCLUDE(string_strcpy)
REQUIRED=FALSE
INCLUDE=string.h
FUNCTION=strlcpy
.END
.CHECK_BINARY(gtk_config)
REQUIRED=FALSE
FILENAME=gtk-config
.END
.CHECK_CONFIG(lib_png)
REQUIRED=FALSE
CFGTOOL=libpng-config
VERSION=1.2
.END
